*.pyc

/baselines
/Datasets
/Evaluation/tookit/辅助
/Evaluation/tookit/VOT_Toolkit
/Evaluation/tookit/OTBToolkit/anno
/Evaluation/tookit/OTBToolkit/figs
/Evaluation/tookit/OTBToolkit/initOmit
/Evaluation/tookit/OTBToolkit/perfMat
/Evaluation/tookit/OTBToolkit/results
/Evaluation/tookit/OTBToolkit/rstEval
/Evaluation/tookit/OTBToolkit/tmp
/Evaluation/results/vidvis
/Evaluation/results/vidvis1
/Evaluation/results/vidvis2
/Evaluation/results/vidvis3
/Evaluation/results/vidvis_LBP

/BaselineAdv/Vital/dataset
/BaselineAdv/Vital/matconvnet
/BaselineAdv/Vital/models


